/* Profile container */
.profile {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 20px 0;
  }
  
  
  
  .profile-userpic img {
    float: none;
    margin: 50px;
    margin-bottom: 20px;
    width: 70%;
    height: 70%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
  }
  
  .profile-usertitle {
    text-align: center;
    margin-top: 10px;
  }
  
  .profile-usertitle-name {
    color: #5a7391;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 7px;
  }
  
  